<!DOCTYPE html>
<html lang="lt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalių palyginimo ataskaita</title>

    {%include 'style.html' %}

</head>

<body>

    <div class="container">

        <h1>Detalių palyginimo ataskaita</h1>
        <p>
            Ataskaitos sugeneravimo laikas: <b>{{ params.currentTime }}</b><br>
            Palyginimas truko: <b>{{ params.timeEllapsed }}</b>
        </p>

        <p>
            <h3>Palyginti failai</h3>
        <table>
            <thead>
                <th>PDF failas</th>
                <th>Excel failas</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ params.pdfFile }}</td>
                    <td>{{ params.excelFile }}</td>
                </tr>
            </tbody>
        </table>
        </p>

        <p class="summary-box">
            Ataskaitoje netikrinami skliautai ir priešvėjinė plėvelė.
        </p>

        {% if grouped or only_in_first or only_in_second %}
        <div class="summary">

            <div class="summary-box">
                Skirtumai
                <strong>{{ grouped|length }}</strong>
            </div>

            <div class="summary-box">
                Tik PDF sąraše
                <strong>{{ only_in_first|length }} detalių</strong>
            </div>

            <div class="summary-box">
                Tik Excel sąraše
                <strong>{{ only_in_second|length }} detalių</strong>
            </div>

        </div>
        {% endif %}

        {% if grouped %}

        <div class="section">

            <h2>Rasti skirtumai</h2>

            <table>

                <thead>
                    <tr>
                        <th>Production number</th>
                        <th>Atributas</th>
                        <th>PDF</th>
                        <th>Excel</th>
                    </tr>
                </thead>

                <tbody>

                    {% for diff in grouped.keys() %}

                    <tr class="different">

                        <td>
                            {{ diff }}
                        </td>

                        <td>
                            {% for d in grouped[diff] %}
                            {{ d.field }}<br>
                            {% endfor %}
                        </td>

                        <td class="value-old">
                            {% for d in grouped[diff] %}
                            {{ d.value1 }}<br>
                            {% endfor %}
                        </td>

                        <td class="value-new">
                            {% for d in grouped[diff] %}
                            {{ d.value2 }}<br>
                            {% endfor %}
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

        {% endif %}


        {% if only_in_first %}

        <div class="section">

            <h2>Detalės, esančios tik PDF faile</h2>

            {% for part in only_in_first %}

            <div class="part-card">

                <strong>Nr. {{ part.productionNumber }}</strong>

                <br>
                Pavadinimas: <b>{{ part.title }}</b>
                |
                Plotis: {{ part.width }}
                |
                Aukštis: {{ part.height }}
                |
                Ilgis: {{ part.lenght }}
                |
                Kiekis: {{ part.count }}
                |
                User2: {{ part.user2 }}
                |
                Group: {{ part.group }}

            </div>

            {% endfor %}

        </div>

        {% endif %}


        {% if only_in_second %}

        <div class="section">

            <h2>Detalės, esančios tik Excel faile</h2>

            {% for part in only_in_second %}

            <div class="part-card">

                <strong>Nr. {{ part.productionNumber }}</strong>

                <br>

                Pavadinimas: <b>{{ part.title }}</b>
                |
                Plotis: {{ part.width }}
                |
                Aukštis: {{ part.height }}
                |
                Ilgis: {{ part.lenght }}
                |
                Kiekis: {{ part.count }}
                |
                User2: {{ part.user2 }}
                |
                Group: {{ part.group }}

            </div>

            {% endfor %}

        </div>

        {% endif %}


        {% if not grouped and not only_in_first and not only_in_second %}

        <div class="success">

            <strong>Skirtumų nerasta.</strong>

            Abu detalių sąrašai sutampa.

        </div>

        {% endif %}
        <p>
            <button id="expander" class="btn-black">Rodyti/slėpti detales</button>
        <div id="tables" class="summary" style="display: none;">

            <div class="summary-box">
                <h3>PDF detalės</h3>
                <table>
                    <thead>
                        <tr>
                            <th>P/N</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Length</th>
                            <th>Count</th>
                            <th>User2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for part in params.pdfList %}
                        <tr>
                            <td>{{ part.productionNumber }}</td>
                            <td>{{ part.width }}</td>
                            <td>{{ part.height }}</td>
                            <td>{{ part.lenght }}</td>
                            <td>{{ part.count }}</td>
                            <td>{{ part.user2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="summary-box">
                <h3>Excel detalės</h3>
                <table>
                    <thead>
                        <tr>
                            <th>P/N</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Length</th>
                            <th>Count</th>
                            <th>User2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for part in params.excelList %}
                        <tr>
                            <td>{{ part.productionNumber }}</td>
                            <td>{{ part.width }}</td>
                            <td>{{ part.height }}</td>
                            <td>{{ part.lenght }}</td>
                            <td>{{ part.count }}</td>
                            <td>{{ part.user2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0/jquery.min.js"
        integrity="sha512-8LENNbXmzI/Gbj+OwXmqR6V4QaUAw0/porPzy1+dQoJqC0JPHedWoe0DDOTL2uHA5XXJyIsPtiMHH86pVlay6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            $('#expander').on('click', function () {
                $('#tables').toggle(300);
            });
        });
    </script>

</body>

</html>